<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/LoginForm.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>LOGIN</title>
</head>

<body>
    <section id="container__login">
        <div class="decor">
            <h1 class="welcome">
                Content de te revoir !!
            </h1>
            <div class="slogan">
                <p>
                    “Yêu cái đẹp là thưởng thức <br>
                    Tạo ra cái đẹp là nghệ thuật”
                </p>
                <p>
                    “Everyone is beautiful, <br>
                    we just make it obvious!.”
                </p>
            </div>
            <button class="btnRegister btnCallReg">Đăng Ký</button>
        </div>
        <div class="LGform">
            <h1 class="title_LG">
                ĐĂNG NHẬP
            </h1>
            <div class="form_input">
                <input class="txt TK" type="text" placeholder="Tài Khoản"> <br>
                <input class="txt MK" type="text" placeholder="Mật Khẩu"> <br>
                <div class="note_login">
                    <span><input type="checkbox">Nhớ mật khẩu</span>
                    <a href="">Quên mật khẩu</a> <br>
                </div>
                <button class="btnLogin">Đăng Nhập</button>
            </div>
        </div>
    </section>
    <section id="container__register">
        <div class="RGform">
            <h1 class="title_RG">
                ĐĂNG KÝ
            </h1>
            <div class="form_input">
                <input class="txt name" type="text" placeholder="Họ tên"> <br>
                <input class="txt email" type="text" placeholder="Email"> <br>
                <input class="txt TK" type="text" placeholder="Tài Khoản"> <br>
                <input class="txt MK" type="text" placeholder="Mật Khẩu"> <br>
                <input class="txt cfMK" type="text" placeholder="Xác nhận mật khẩu"> <br>
                <button class="btnRegister">Đăng Ký</button>
            </div>
        </div>
        <div class="decor">
            <h1 class="welcome">
                Bonjour, nouveau client !!
            </h1>
            <div class="slogan">
                <p>
                    “Yêu cái đẹp là thưởng thức <br>
                    Tạo ra cái đẹp là nghệ thuật”
                </p>
                <p>
                    “Everyone is beautiful, <br>
                    we just make it obvious!.”
                </p>
            </div>
            <button class="btnLogin btnCallLog">Đăng Nhập</button>
        </div>
    </section>
</body>
<script src="../js/login.js"></script>

</html>